html, 
body {
height: 100%;
}


p {
    font-family: 'Roboto', sans-serif!important;
    color:#353536;
    font-weight: normal;
    font-size:2.0vw;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    padding: 10px;
    transition: opacity 0.8s;
   -webkit-transition: opacity 0.8s;
   font-weight:500;
}

.container-fluid {
    padding-left: 0px!important;
}

svg {
    width:100%;
    height:100%;
    padding-left:0%;		
}

a[href="http://www.amcharts.com/javascript-maps/"] {
  display: none!important;
}

#maps {
    padding-left: 2vw;
    padding-right: 2vw;
}

.maptext {
  position: absolute;
    top: 3vw;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 300;
    font-family: 'Roboto', sans-serif;
    color:#353536;
    font-weight:500;
    font-size:2vw;
    
}

h1 {
    font-size:60px;
    font-weight:200;
    line-height:1.3;
}



#visualdiv {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  padding: 10px;
  transition: opacity 0.8s;
 -webkit-transition: opacity 0.8s;
 
}


.img{
max-width: 100%;
max-height: 100%;
position: relative;
opacity: 1;
transition: opacity 1.2s;
-webkit-transition: opacity 1.2s;
}

.img_2{
max-width: 100%;
max-height: 100%;
position: relative;
opacity: 1;
transition: opacity 1.2s;
-webkit-transition: opacity 1.2s;
}


.active {
    opacity:1;
}


.deactive {
    opacity:0;
}


.centered_1 {
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-50%, -50%);
    opacity:0.5;
}

.centered_2 {
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-50%, -50%);
    opacity:0.5;
}

.centered_3 {
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    opacity:0.5;
}

.row {
height: 100%;

}

.col-sm {
text: center;
vertical-align: middle;
}

#intro h1 {
position: absolute;
text-align: center;
width: 100%;
top: 45vh;
left: 25vw;
margin: 0;
font-size: 2.2vw;}

.rabbit{
width: 100vw;
height: auto;
position: absolute;
top: 0;
left: 0;
vertical-align: middle;
}

.white{
width: 100vw;
height: 100vh;
position: absolute;
top: 0;
left: 0;
}

.themaps{
width: 100vw;
height: 100vh;
position: absolute;
top: 0;
left: 0;
}

.fish {
opacity: 0;}


.fishok {
opacity: 1;}


.text-center
{
padding-left:0!important;
top: 45vh;
font-size:2.2vw;
    
}

.spacer {
    margin-bottom: 80vh;
    font-size: 1.8vw;
}

.footers{
    padding-top: 15%;
    padding-right: 5%;
    padding-left: 5%;
    font-size:13px;
}

.story {
    padding-left: 5%;
}

.bigtext {
    font-family: 'Roboto', sans-serif;
    color:#353536;
    font-weight:500;
    font-size:2.5vw;
    text-align: left;
}

p.docutext {
    font-size: 1vw;
    font-weight: 400;
}

.icontext {
    width: 2vw;
    position: absolute;
    margin-left: -2.5vw;
    margin-top: 12px;
    
}

#pinContainer {
width: 100vw;
height: 100vh;
overflow: hidden;
-webkit-perspective: 1000;
        perspective: 1000;
}
#slideContainer {
width: 400vw; /* to contain 4 panels, each with 100% of window width */
height: 100vh;
overflow: hidden;
}
.panel {
height: 100%;
width: 25%; /* relative to parent -> 25% of 400% = 100% of window width */
float: left;
overflow: hidden;
}

.DIY {

    width: 85%;
}

.DIY-text {
    position: absolute;
    font-size: 30px;
    margin-left: 10%;
    margin-top: 1%;
}



#text1 {
    opacity: 0;
    -webkit-transform: scale(1);
         -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
             -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
}


#text1.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}


#text2 {
    opacity: 0;
    -webkit-transform: scale(1);
         -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
             -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
}


#text2.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}


#text3 {
    opacity: 0;
    -webkit-transform: scale(1);
         -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
             -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
}


#text3.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}



#text4 {
    opacity: 0;
    -webkit-transform: scale(1);
         -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
             -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
}


#text4.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}



#text5 {
    opacity: 0;
    -webkit-transform: scale(1);
         -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
             -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
}


#text5.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}


#text6 {
    opacity: 0;
    -webkit-transform: scale(1);
         -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
             -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
}


#text6.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}

.spacer01 {
    height:100vh;
}

.documentation {
    display: flex;
    justify-content: center;
    margin-top: 50vh;   
}


.asterisc{
    width: 1.9vw;
    margin-right: 10px;
    
}

.asterisctext {
    font-family: 'Roboto', sans-serif;
    color:#fe5f1a;
    font-weight: 400;
    font-size: 1.5vw;
    text-align: center;
    cursor: pointer;
    
}


#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

#modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 50%;
  background-color: #fff;
  border: 1px solid #fe5f1a;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: auto;
  cursor: pointer;
}

.modal-title {
  font-size: 28px;
  color: #fe5f1a;
  margin-bottom: 20px;
  text-align: left;
}

.modal-text {
  font-size: 16px;
  text-align: left;
  padding-left: 0px;
}

.logo {
  position: fixed;
  top: 40px;
  left: 45px;
  z-index: 9999;
}

.logo img {
  height: 40px;
}













@media screen and (max-width: 768px) {
    
    .rabbitmobile{
        margin-top: auto;
        top: 50vh;
    }
    
    .covertextmob {
        font-size: 5vw;
        margin-left: 14vw;
    }
    
    .documentation {
        margin-top:10vw;
    }
    
    .bigtext {
    font-family: 'Roboto', sans-serif;
    color:#353536;
    font-weight:400;
    font-size:7vw;
    text-align: left;
}

    p.docutext {
    font-size: 4vw;
    font-weight: 400;
}
    
    .icontext {
    width: 6vw;
    position: absolute;
    margin-left: -8vw;
    margin-top: 5%;
    
}
    
    .spacer {
    font-size: 4vw;
    
}
    
        #visualdiv {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  padding: 10px;
  transition: opacity 0.8s;
 -webkit-transition: opacity 0.8s;
        margin-left: -30vw;
 
}
    
    #text1 {
    opacity: 0;
    -webkit-transform: scale(1);
         -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
             -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
        margin-right: -85vw;
        padding-top: 10vh;
}


#text1.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
    margin-right: -85vw;
        padding-top: 10vh;
}


#text2 {
    opacity: 0;
    -webkit-transform: scale(1);
         -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
             -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
    margin-right: -85vw;
        padding-top: 10vh;
}


#text2.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
    margin-right: -85vw;
        padding-top: 10vh;
}


#text3 {
    opacity: 0;
    -webkit-transform: scale(1);
         -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
             -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
    margin-right: -85vw;
        padding-top: 10vh;
}


#text3.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
    margin-right: -85vw;
        padding-top: 10vh;
}



#text4 {
    opacity: 0;
    -webkit-transform: scale(1);
         -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
             -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
    margin-right: -85vw;
        padding-top: 10vh;
}


#text4.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
    margin-right: -85vw;
        padding-top: 10vh;
}



#text5 {
    opacity: 0;
    -webkit-transform: scale(1);
         -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
             -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
    margin-right: -85vw;
        padding-top: 10vh;
}


#text5.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
    margin-right: -85vw;
        padding-top: 10vh;
}


#text6 {
    opacity: 0;
    -webkit-transform: scale(1);
         -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
             -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
    margin-right: -85vw;
        padding-top: 10vh;
}


#text6.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
    margin-right: -85vw;
        padding-top: 10vh;
}

.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
}
     

.logo img {
  height: 6vw;
}
    
.documentation {
    display: flex;
    justify-content: left;
    margin-top: 25vh; 
    padding-left: 25vw;
}
    
.asterisc{
    width: 7vw;
    margin-right: 10px;
    margin-left: 5%;
    
}

.asterisctext {
    font-family: 'Roboto', sans-serif;
    color:#fe5f1a;
    font-weight: 400;
    font-size: 7vw;
    text-align: center;
    cursor: pointer;
    
}
    
    #modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

#modal-content {
  position: absolute;
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 50%;
  background-color: #fff;
  border: 1px solid #fe5f1a;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: auto;
  cursor: pointer;
}

.modal-title {
  font-size: 7vw;
  color: #fe5f1a;
  margin-bottom: 20px;
  text-align: left;
}

.modal-text {
  font-size: 3.5vw;
  text-align: left;
  padding-left: 0px;
    overflow: scroll;
}
    
  }

    


